{% extends "base.html" %}

{% block title %}Add secrets to GitHub{% endblock title %}
{% block h1 %}Add secrets to GitHub{% endblock h1 %}

{% block body %}
    <div class="warning">
        If you have already done these steps before, you can delete your old token if you don't need it anymore.
        <br>
        Go to <a href="https://github.com/settings/tokens?type=beta" target="_blank">this page</a> and click on <i>Delete</i> on the right of your token.
    </div>
    <p>
        To finish the setup, you will need to add all your credentials on your GitHub repo.
        <br>
        To do so, you will need a personal access token.
        <br>
        Follow these steps to get one:
    </p>
    <ul>
        <li>Go to <a href="https://github.com/settings/personal-access-tokens/new" target="_blank">this page</a>.</li>
        <li>Put whatever you want for the <i>Token name</i>, <i>Expiration</i> and <i>Description</i>.</li>
        <li>For the <i>Repository access</i>, select <i>Only select repositories</i> and select your repo.</li>
        <li>Open the <i>Repository permissions</i> section and select the <i>Read and write</i> access for <i>Actions</i> and <i>Secrets</i>.</li>
        <li>Click on <i>Generate token</i>.</li>
        <li>Copy the displayed token and paste it below:</li>
    </ul>
    <form method="post" action="/secrets">
        <p>
            <label>
                Personal access token:
                <input type="text" class="github-pat" name="token" pattern="github_pat_.*" placeholder="github_pat_...">
            </label>
        </p>
        <p>
            <label>
                Your GitHub repo URL:
                <input type="url" name="repo_url" pattern="https://github\.com/.*/.*" placeholder="https://github.com/.../...">
            </label>
        </p>
        <p>
            <input type="submit" value="Save"> (It will be long...)
        </p>
    </form>
{% endblock body %}
