{% extends "base.html" %}

{% block title %}Your GMX credentials{% endblock title %}
{% block h1 %}{{ gmx.image_tag }}{% endblock h1 %}

{% block body %}
    <h2>You are successfully logged in!</h2>
    <p>The values have been saved. You can <a href="/">go back</a>.</p>
    <form action="/gmx">
        <input type="hidden" name="form" value="1">
        <input type="submit" value="Edit">
    </form>
    <details>
        <summary>See the values</summary>
        <p><i>(Triple-click to select)</i></p>
        <ul>
            <li>Email address: <input class="copy" disabled value="{{ GMX_USER }}"></li>
            <li>Password: <input class="copy" disabled value="{{ GMX_PASSWORD }}"></li>
        </li>
    </details>
{% endblock body %}
