{% extends "base.html" %}

{% block title %}Enter your GMX credentials{% endblock title %}
{% block h1 %}{{ gmx.image_tag }}{% endblock h1 %}

{% block body %}
    <div class="warning">
        <h2>Warning</h2>
        If you have 2FA enabled, you will need to generate an <a href="https://support.gmx.com/security/2fa/application-specific-passwords.html" target="_blank">app-speficic password</a> and write it in this form instead of your real password.
    </div>
    <form method="post" action="/gmx">
        <p>
            <label>
                GMX email address:
                <input type="email" name="email" value="{{ GMX_USER }}">
            </label>
        </p>
        <p>
            <label>
                GMX password:
                <input type="password" name="password" value="{{ GMX_PASSWORD }}">
            </label>
        </p>
        <p>
            <input type="submit" value="Save">
        </p>
    </form>
{% endblock body %}
