{% extends "base.html" %}

{% block title %}Enter your {{ provider.name }} credentials{% endblock title %}
{% block h1 %}{{ provider.image_tag }}{% endblock h1 %}

{% block body %}
    <script src="/static/copy.js"></script>
    {% if secrets_missing %}
        <h2>No {{ provider.name }} credentials</h2>
        <p>You don't have {{ provider.name }} credentials. Please get them by following these steps:</p>
    {% else %}
        <h2>Edit {{ provider.name }} credentials</h2>
        <p>Follow these steps to get {{ provider.name }} credentials:</p>
    {% endif %}
    {% include "instructions/" ~ provider.id ~ ".html" %}
    <form method="post" action="/{{ provider.id }}">
        <p>
            <label>
                {{ provider.name }} client ID:
                <input type="text" class="{{ provider.token_classes[0] }}" name="client_id" pattern="{{ provider.patterns[0] }}" value="{{ client_id }}">
            </label>
        </p>
        <p>
            <label>
                {{ provider.name }} client secret:
                <input type="text" class="{{ provider.token_classes[1] }}" name="client_secret" pattern="{{ provider.patterns[1] }}" value="{{ client_secret }}">
            </label>
        </p>
        <p>
            <input type="submit" value="Save">
        </p>
    </form>
{% endblock %}
