{% extends "base.html" %}

{% block title %}Your {{ provider.name }} credentials{% endblock title %}
{% block h1 %}{{ provider.image_tag }}{% endblock h1 %}

{% block body %}
    <h2>You are successfully logged in!</h2>
    <p>The values have been saved. You can <a href="/">go back</a>.</p>
    <details>
        <summary>See the values</summary>
        <p><i>(Triple-click to select)</i></p>
        <p>Access token: <input disabled class="{{ provider.token_classes[2] }}" value="{{ token.access_token }}"></p>
        {% if provider.id == "google" %}
            <p>Refresh token: <input disabled class="{{ provider.token_classes[3] }}" value="{{ token.refresh_token }}"></p>
        {% endif %}
    </details>
{% endblock body %}
