<div class="warning">
    If you have already done these steps before, go to <a href="https://developer.todoist.com/appconsole.html" target="_blank">this page</a>, select your app, copy the <i>Client ID</i> and the <i>Client secret</i>, paste them at the bottom and click on <i>Save</i>.
</div>
<ul>
    <li>
        Go to <a href="https://developer.todoist.com/appconsole.html" target="_blank">this page</a> and click on <i>Create a new app</i>.
        <br>
        Put whatever you want for the <i>App name</i> and <i>App service URL</i> (the latter is optional).
    </li>

    <li>Set the <i>OAuth redirect URL</i> to <input type="text" class="copy" disabled value="http://127.0.0.1:5000/todoist"> and click on <i>Save settings</i>.</li>

    <li>
        Copy the <i>Client ID</i> and the <i>Client secret</i> that you see on the webpage.
        <br>
        They both look like <input type="text" class="todoist-token" disabled value="0123456789abcdef0123456789abcdef">.
        <br>
        Paste them below and click on <i>Save</i>.
    </li>
</ul>
